/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.flatmir-footer {
  border: none;
  background-color: $xa-light-gray;
  color: $xa-light-gray-text;
  a {
    color: $xa-light-gray-text;
    &:hover {
      color: $xa-red-link;
      text-decoration: underline;
      background-color: transparent;
    }
    &.dropdown-item {
      padding: 0;
    }
  }
  h4 {
    color: $xa-light-gray-text;
  }
}
.logo-block-sbb {
  margin-top: 2rem;
}
#powered_by {
  border: none;
  background-color: $xa-dark-gray;
  color: $xa-dark-gray-text;
  padding: 0.6rem 0px;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
