/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

// logo and menu container
body > header {
  color: white;
  background-color: $primary;
  top: 50px;
  width: 100%;
  z-index: 500 !important;
  position: fixed;
  padding-top: 0px;
}
.xabs div.container.default {
  height: 250px !important;
}
#project_logo_box {
  padding-top: 0.5rem;
  a {
    font-size: 21px;
  }
}
#logo_modul {
  color: white;
  font-weight: bold;
  letter-spacing: normal;
  padding-left: 0;
  padding-right: 0.5rem;
}
#logo_slogan {
  color: white;
}
#header_box {
  margin-bottom: 0;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
