// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

$xa-black:           #333333; // text, headlines
$xa-red:             #CC0000; // logo red
$xa-red-link:        #b41815; // link red
$xa-light-gray:      #e8e6e1; // gray footer
$xa-light-gray-text: #a39b94; // gray text footer
$xa-dark-gray:       #9D9D9D; // gray dark footer
$xa-dark-gray-text:  #D7D7D7; // gray text dark footer


// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: rgba(17,17,17,.8);
$body-color: $xa-black;
$secondary: $xa-red;
$link-color: $xa-red-link;

$navbar-dark-hover-color: white;

$dropdown-bg: $primary;
$dropdown-color: white;
$dropdown-link-color: white;
$dropdown-link-hover-bg: $primary;
